*,*::after,*::before{
    box-sizing: border-box;
}


@font-face {
    font-family: "vazir Bold";
    src: url("../fonts/Vazirmatn-Bold.woff2");
}
@font-face {
    font-family: "vazir light";
    src: url("../fonts/Vazirmatn-Light.woff2");
}
@font-face {
    font-family: "vazir Regular";
    src: url("../fonts/Vazirmatn-Regular.woff2");
}
body{
    font-family: "vazir Regular";
    font-feature-settings: "ss01";
    margin: 0;
    padding: 0;
    background-color: #F0F8FF;
}
svg{
    width: 40px;
    height: 40px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
.container{
    max-width:1200px ;
    width: 90%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.hidden{
    display: none;
}
/* right menu  => display block in js */
.right-menu{
    background-color: #87CEFA;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgb(0, 0, 0,0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    z-index: 200;
 
}
.right-menu-svg{
     display: flex;
     justify-content: end;
     margin: 15px;
}
.right-menu-svg svg{
     transform: rotate(45deg);
 
}
.right-menu-wrapper{
     display: flex;
     flex-direction: column;
     text-align: center;
     padding: 25px 0
}
.right-menu-wrapper span{
     font-family:"vazir Bold";
     font-size: 30px;
     font-weight: 600;
}
.right-menu-list{
     margin-top: 70px;
}
.right-menu-list ul{
     display: flex;
     flex-direction: column;
     gap: 40px;
     font-family:"vazir Bold";
}
li::after{
     content: "";
     display: block;
     background-color: rgb(255, 255, 255);
     opacity: 0.5;
     text-shadow: 0 4px 8px rgb(0, 0, 0,0.1);
     width: 80%;
     height: 1px;
     margin: 20px auto;
     text-align: right;
}
 /* header section */

.header{
    width: 100%;
    height: 80px;
    background-color: rgb(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 17px white;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgb(0, 0, 0,0.9);
}
.head-middle{
    font-family: "vazir Bold";
    font-size: 30px;
    font-weight: 600;
}
.head-left{
    position: relative;
}
.head-left svg{
    color: white;
    border: 2px solid #2072AF;
    border-radius: 10px;
    padding: 4px;
}
.head-left span{
    background-color: #2072AF;
    padding: 3px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25px;
    bottom: 35px;;
}
/* main section */
.product-title{
    font-family: "vazir Bold";
    font-size: 30px;
    color: white;
    background-color: #2072AF;
    padding-right: 20px;
    width: 300px;
    border-radius: 20px;
    text-shadow: 0 4px 8px rgb(0, 0, 0,0.9);
}
.product-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 60px;
}
.product-title-wrapper span{
   color: white;
   text-shadow: 0 4px 8px rgb(0, 0, 0,0.9);
   background-color: #2072AF;
   border-radius: 20px;
   padding: 5px;
}
/* products-filtering */
.products-filtering{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
}
.filters{
    grid-column: span 4;
}
/* search input */
.search-box{
  display: flex;
  align-items: center;
  background-color: #2072AF;
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: "vazir Regular";
}
.search-box input{
 background-color: transparent;
 border: none;
 outline: none;
 color: white;
 width: 100%;
 margin-right: 10px;
}
.search-box input::placeholder{
color: #E5E4E2;
font-size: 15px;
}
.search-box button{
    background-color: inherit;
    border: none;
}
.search-box svg{
    color: white;
    width: 30px;
    height: 30px;
}
/* .toggle input */
.filter-toggle{
    background-color: #2072AF;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.toggle-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-btn span{
    color: white;
    font-size: 15px;
}
.toggle-btn_input{
    display: none;
}
.toggle-btn_input:checked + .toggle-btn_marker{
    background-color: #87CEFA;
}
.toggle-btn_input:checked + .toggle-btn_marker::after{
    right: 24px;
}

.toggle-btn_marker{
    position: relative;
    display: block;
    width: 46px;
    height: 24px;
    border-radius: 100px;
    background-color: #BEBFC5;
    transition: all 60ms ease-in;
}
.toggle-btn_marker::after{
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    transition: all 100ms ease-in;
}

/* products wrapper */
.products{
    grid-column: span 8;
}
.products-bar{
    display: flex;
    align-items: center;
    background-color: #2072AF;
    padding: 15px 25px;
    border-radius: 12px;
    color: white;
}
.products-bar_left{
    display: flex;
    gap: 30px;
    margin-right: 14px;
    
}
.products-bar_left span{

    font-size: 13px;
}
.border-white{
    border-bottom: 2px solid white;
}
/* .products-bar_left span{
   border-bottom: 2px solid white;
} */
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
}
.products-list{
    margin-top: 25px;
}
.products-list img{
    height: 270px;
    width: 100%;
    object-fit: cover;
    border: 6px solid white;
    /* border-radius: 10px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.4); 
}

.cover-new{
    position: relative;
    transition: all 300ms ease-in;
}
.new-prouducts-info{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
   justify-content: space-between;
    padding: 15px;
    
}

.price-wrapper{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.price-wrapper span:first-child{
    font-size: 10px;
}

.price-wrapper{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.price-wrapper span:first-child{
    font-size: 10px;
}
.new-prouducts-info span:first-child{
    font-family: "vazir Bold";
    font-size: 13px;
}
.products-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.new-prouducts-info-svg{
    background-color: #F0F8FF;
    border-radius: 100%;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}
.price-wrapper{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.price-wrapper span:first-child{
    font-size: 10px;
}
.new-prouducts-info-svg svg{
    width: 20px;
    height: 25px;
}
.new-prouducts-list{
    margin-top: 100px;
}
/* filter btn */
.filter-btns{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.filter-btns button{
    width: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #87CEFA;
    color: white;
    border-radius: 12px;
    gap: 10px;
    font-size: 15px;
    font-family: "vazir Regular" ;
}
.filter-btns button svg{
    width: 25px;
    height: 25px;
}

/* footer section */
footer{
    background-color: #2072AF;
    margin-top: 100px;
    padding: 60px 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 1px 1px 17px white;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 8px rgb(0, 0, 0,0.9);
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-right{
    width: 60%;
}
.footer-right span{
   font-family: "vazir Bold";
   font-size: 40px;
}
.footer-right p{
   font-family: "vazir light";
   margin-top: 30px;
   line-height: 25px;
}
.footer-left{
    width: 40%;
    display: flex;
    flex-direction: column; 
    text-align: center;
    gap: 20px;
}
.footer-icons-wrapper img{
    width: 40px;
    height: 40px;
}
/* overlay and basket section */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 10;
    backdrop-filter: blur(6px);
  
}
.basket{
    width: 300px;
    background-color: #2072AF;
    color: white;
    position: fixed;
    z-index: 200;
    top: 140px;
    left: 70px;
    border-radius: 10px;
}
.top-section-basket{
    background-color: #87CEFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.middle-section-basket{
    padding-right: 16px;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 200px;
    height: 248px;
    direction: ltr;
}
/* width */
.middle-section-basket::-webkit-scrollbar {
	width:4px;
  }
  
  /* Track */
  .middle-section-basket::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  /* Handle */
  .middle-section-basket::-webkit-scrollbar-thumb {
	background-color: #D9D9D9;
	border-radius: 50px;
  }

.middle-section-basket > * + *{
    margin-top: 20px;
}
.middle-section-basket_product{
    display: flex;
    align-items: center;
    direction: rtl;
}
.middle-section-basket_product img{
    height: 80px;
    width: 90px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
}
.middle-section-basket_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
}
.middle-section-basket_info span{
    font-size: 12px;
    color: #C0C0C0;
}
.middle-section-basket_btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.middle-section-basket_btn svg{
    height: 16px;
    width: 16px;
    color: white;
    transition: all 20ms ease-in;
}
.middle-section-basket_btn svg:hover{
    color: red;
}
.bottom-section-basket-info{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-top: 2px solid #87CEFA;
}
.bottom-section-basket_btn{
    text-align: center;
    margin-top: 10px;
    padding: 0 20px 20px 20px;
}
.bottom-section-basket_btn a{
    background-color: #87CEFA;
    padding: 10px 50px;
    border-radius: 10px;
    transition: all 20ms ease-in;
}
.bottom-section-basket_btn a:hover{
    background-color: #73C2FB;
}
/* page nation */
#pagination{
    text-align: center;
    margin-top: 50px
}
#pagination button{
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #666;
    background-color: #eee;
    
}
#pagination button.activ{
   font-weight: bold;
   background-color: #87CEFA;
   color: white;
}
/* basket section */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 10;
    backdrop-filter: blur(6px);
}
.basket{
    width: 300px;
    background-color: #2072AF;
    color: white;
    position: fixed;
    z-index: 200;
    top: 140px;
    left: 70px;
    border-radius: 10px;
    
}
.top-section-basket{
    background-color: #87CEFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.middle-section-basket{
    padding-right: 16px;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 200px;
    height: 248px;
    direction: ltr;
}
/* width */
.middle-section-basket::-webkit-scrollbar {
	width:4px;
  }
  
  /* Track */
  .middle-section-basket::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  /* Handle */
  .middle-section-basket::-webkit-scrollbar-thumb {
	background-color: #D9D9D9;
	border-radius: 50px;
  }

.middle-section-basket > * + *{
    margin-top: 20px;
}
.middle-section-basket_product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
}
.middle-section-basket_product img{
    height: 80px;
    width: 90px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
}
.middle-section-basket_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
}
.middle-section-basket_info span{
    font-size: 12px;
    color: #C0C0C0;
}
.middle-section-basket_btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.middle-section-basket_btn svg{
    height: 16px;
    width: 16px;
    color: white;
    transition: all 20ms ease-in;
}
.middle-section-basket_btn svg:hover{
    color: red;
}
.bottom-section-basket-info{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-top: 2px solid #87CEFA;
}
.bottom-section-basket_btn{
    text-align: center;
    margin-top: 10px;
    padding: 0 20px 20px 20px;
}
.bottom-section-basket_btn a{
    background-color: #87CEFA;
    padding: 10px 50px;
    border-radius: 10px;
    transition: all 20ms ease-in;
}
.bottom-section-basket_btn a:hover{
    background-color: #73C2FB;
}
/* mobile filter */
.mobile-filter{
    position: fixed;
    right: 0;
    left: 0;
    background-color: #2072AF;
    color: white;
    bottom: 0;
    top: 0;
    z-index: 5000;
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
}
.filter-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #87CEFA;
    color: white;
    padding: 20px;
}
.filter-head span{
   font-family: "vazir Bold";
   font-size: 25px;
}
.filter-head div{
    transform: rotate(45deg);
}
.filter-toggle_mobile{
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #87CEFA;
}
.toggle-btn_mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-btn_mobile span{ 
    color: white;
    font-size: 15px;
}
.toggle-btn_input_mobile{
    display: none;
}
.toggle-btn_marker_mobile{
    position: relative;
    display: block;
    width: 46px;
    height: 24px;
    border-radius: 100px;
    background-color: #BEBFC5;
    transition: all 60ms ease-in;
}
.toggle-btn_marker_mobile::after{
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    transition: all 100ms ease-in;
}
.toggle-btn_input_mobile:checked + .toggle-btn_marker_mobile{
    background-color: #87CEFA;
}
.toggle-btn_input_mobile:checked + .toggle-btn_marker_mobile::after{
    right: 24px;
}
.filter-footer{
    margin-top: 1.5rem;
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.filter-footer button{
    width: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 25px 0;
    border-radius: 10px;
    font-family: "vazir Regular";
    background-color: #73C2FB;
    color: white;
}

@media (max-width : 1024px) {
    .products-filtering{
        grid-template-columns: repeat(1, 1fr);
    }
    .filters{
        grid-column: span 12;
    }
    .products{
        grid-column: span 12;
    }
}
@media (max-width : 768px) {
    .products-bar{
        display: none;
    }
    .filter-toggle{
        display: none;
    }
    .products-filtering{
        margin-top: 50px;
    }
    .filter-btns{
        display: flex;
    }
    .footer-wrapper{
        flex-direction: column;
      }
      .footer-wrapper{
        text-align: center;
    }
    .footer-left{
       margin-top: 70px;
    }
    footer{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: 10px solid #6CB4EE;
    }
    .product-title{
        width: 165px;
        font-size: 20px;
    }
    .product-title-wrapper span{
        font-size: 15px;
    }
    .right-menu{
        width: 50%;
    }
    .right-menu-wrapper{
        padding: 0;
    }
    .right-menu-wrapper span{
        font-size: 20px;
    }
    .right-menu-list ul{
      gap: 0;
      text-align: right;
   }
   li::after{
    margin: 15px 0;
   }
   .right-menu svg{
    width: 30px;
    height: 30px;
   }
}
